
$cardboxshadow: #d5d6dc;
$cardboxshadowhover: #aeaeae;
$cardbackground: #f3f4f7;
$coloraddbutton: #7777dc;

$leveltubebackground: #e4e4e4;
$leveltubeboxshadow: #d4d4d4;
$leveltubevaluebackground: #1a70f3;

$bottombarbackground: #5656ec;
$bottombarboxshadow: rgba(51, 51, 217, 0.53);
$bottombartextcolor: #ffffff;

$modaloutside: rgba(0, 0, 0, 0.4);
$modalcontentboxshadow: #474444;
$modalcontentbackground: #ffffff;

$searchboxborder: #e6e6e6;

.app-container {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: 'Gaegu', cursive;
  overflow: hidden;
}

.header {
  text-align: center;
  padding: 10px;

  h1 {
    font-family: 'Atma', cursive;
    font-size: 40px;
    margin: 0;
  }
}

.pokedex-list {
  flex: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 240px;;
  justify-content: start;
  gap: 20px;
  padding: 20px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $bottombarbackground;
    border-radius: 10px;
  }
}

.pokemon-card {
  background: $cardbackground;
  display: flex;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 6px $cardboxshadow;
  position: relative;
  transition: transform 0.2s;

  &:hover {
    box-shadow: 0 6px 10px $cardboxshadowhover;

    .close-btn {
      opacity: 0.8;
      pointer-events: auto;
    }
  }
}

.close-btn {
  position: absolute;
  top: 3px;
  right: 8px;
  background: none;
  border: none;
  font-family: 'Gaegu', cursive;
  font-size: 50px;
  line-height: 1;

  color: $leveltubevaluebackground;

  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, color 0.2s ease;
}

  .card-img {
    width: 150px;
    height: auto;
    object-fit: contain;
  }

  .card-content {
    flex: 1;
    margin-left: 15px;

    .card-title {
      font-family: 'Atma', cursive;
      font-size: 26px;
      font-weight: 400;
      margin: 0 0 10px 0;
    }
  }


.stats-container {
  .stat-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }

  .stat-label {
    width: 55px;
    font-weight: bolder;
    font-size: 16px;
  }
}

.bar-bg {
  flex: 1;
  height: 20px;
  background: $leveltubebackground;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px $leveltubeboxshadow;
  overflow: hidden;

  .bar-fill {
    height: 100%;
    background: $leveltubevaluebackground;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
  }
}

.happiness-icons {
  display: flex;
  gap: 4px;
  margin-top: 10px;

  .happy-icon {
    width: 30px;
    height: 30px;
  }
}

.bottom-bar {
  height: 60px;
  background: $bottombarbackground;
  box-shadow: 0 -4px 10px $bottombarboxshadow;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .plus-circle {
    width: 80px;
    height: 80px;
    background: $bottombarbackground;
    border-radius: 50%;
    color: $bottombartextcolor;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    user-select: none;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.modal-overlay {
  position: absolute;
  inset: 0;
  background: $modaloutside;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  width: 800px;
  height: 650px;
  background: $modalcontentbackground;
  box-shadow: 0 0 20px $modalcontentboxshadow;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}

.search-input-wrapper {
  position: relative;
  margin-bottom: 20px;


  input {
    width: 100%;
    height: 45px;
    padding: 0 50px 0 0px;
    border: 1px solid $searchboxborder;
    font-size: 22px;
    font-family: 'Atma', cursive;
    font-weight: bold;
    outline: none;
    box-sizing: border-box;
  }

  .search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    opacity: 0.5;
  }
}

.search-results {
  flex: 1;
  overflow-y: auto;
  padding-right: 5px;

  .search-item {
      position: relative;
      display: flex;
      background: $cardbackground;
      margin-bottom: 15px;
      padding: 15px;
      border-radius: 4px;
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 0 8px $cardboxshadowhover;

        .add-btn {
          opacity: 1;
          pointer-events: auto;
          transform: translateY(0);
        }
      }
    }

    .search-img {
      width: 120px;
      object-fit: contain;
    }

    .search-info {
      flex: 1;
      padding-left: 20px;

      .search-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        h3 {
          margin: 0;
          font-family: 'Atma', cursive;
          font-size: 24px;
          font-weight: 400;
        }
      }
    }
  }


.add-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  color: $coloraddbutton;
  background: none;
  border: none;

  font-size: 20px;
  font-weight: bold;
  font-family: 'Atma', cursive;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;

  transition:
    opacity 0.2s ease;

}

