<div id="root">
 <header class="header">
    <h1>My Pokédex</h1>
    <button class="add-btn" (click)="openModal()">
      Add Pokémon
    </button>
  </header>

  <section class="pokedex-list">
    <div
      class="pokemon-card"
      *ngFor="let pokemon of myPokedex"
    >
      <img [src]="pokemon.imageUrl"
      alt="{{ pokemon.name }}" />
      <h3>{{ pokemon.name }}</h3>

      <button (click)="removePokemon(pokemon.id)">
        Remove
      </button>
    </div>
  </section>

  <div
    class="modal-overlay"
    *ngIf="isModalOpen"
    (click)="closeModal($event)"
  >
    <div class="modal">
      <input
        type="text"
        placeholder="Search by name"
        [(ngModel)]="searchName"
        (input)="searchPokemon()"
      />

      <input
        type="text"
        placeholder="Search by type"
        [(ngModel)]="searchType"
        (input)="searchPokemon()"
      />

      <div class="search-result">
        <div
          class="pokemon-card"
          *ngFor="let pokemon of searchResult"
        >
          <img [src]="pokemon.imageUrl" />
          <h4>{{ pokemon.name }}</h4>

          <button (click)="addPokemon(pokemon)">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

